<h1> Hotel Results </h1>
<table class="table table-bordered" >
  <thead>
    <tr>
      <th> HotelID </th>
      <th> IsReady </th>
      <th> HotelsName </th>
      <th> Location </th>
      <th> LowestPrice </th>
      <th> Currency </th>
      <th> HotelRating </th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let hotels of hotel">

      <td>{{hotels.HotelID}} </td>
      <td> {{hotels.IsReady}} </td>
      <td> {{hotels.HotelsName}} </td>
      <td> {{hotels.Location}} </td>
      <td> {{hotels.LowestPrice}} </td>
      <td> {{hotels.Currency}} </td>
      <td> {{hotels.HotelRating}} </td>

    </tr>


  </tbody>
  
</table>